*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

img{
    width: 80px;
    vertical-align: middle;
    margin-left: 30px;
}

h1{
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}

header{
    width: 100%;
    padding: 8px;
    background-color: white;
}

main{
    width: 1000px;
    height: 750px;
    background-color: white;
    margin: 30px auto;
    border-radius: 1%;
}

.input-section{
    margin-left: 50px;
}

div input[type="button"]{
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10% ;
}

div input:first-child{
    background-color: #47ADF1;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

div input:last-child{
    background-color: white;
    border: 1px solid lightgrey ;
    color: grey;
    
}

div input:last-child:hover{
    background-color: lightgrey;
    transition: .2s;
    cursor: pointer;
}

hr{
    height: 5px;
    background-color: #F6F8F9;
    border: none;
    margin-top: 10px;
}

section{
    margin-left: 50px;
    margin-top: 40px;
}

#caret{
    font-size: 30px;
}

h3{
    display: inline-block;
    font-size: 25px;
}

/* Targhette e simbboli */
#check{
    font-size: 12px;
    color: green;
    border: 1px solid green;
    border-radius: 100%;
    padding: 5px;
    margin-right: 10px;
}

.check-cross-desc{
    margin-top: 20px;
}

.azzurro{
    background-color: #47ADF1;
    color: white;
    padding: 8px;
    border-radius: 40px;
    font-size: 12px;
    margin-left: 10px;
}

.viola{
    background-color:#9C72E4;
    color: white;
    padding: 8px;
    border-radius: 40px;
    font-size: 12px;
    margin-left: 10px;
}

#cross{
    font-size: 12px;
    color: red;
    border: 1px solid red;
    border-radius: 100%;
    padding: 6px;
    margin-right: 10px;
}

.verde{
    background-color: #64C0A9;
    color: white;
    padding: 8px;
    border-radius: 40px;
    font-size: 12px;
    margin-left: 10px;
}

.giallo{
    background-color: #F29E33;
    color: white;
    padding: 8px;
    border-radius: 40px;
    font-size: 12px;
    margin-left: 10px;
}

.viola-chiaro{
    background-color: #D863A1;
    color: white;
    padding: 8px;
    border-radius: 40px;
    font-size: 12px;
    margin-left: 10px;
}

.lime{
    background-color: #B0C926;
    color: white;
    padding: 8px;
    border-radius: 40px;
    font-size: 12px;
    margin-left: 10px;
}

